/* .card {
    border-radius: 15px;
    background: #E8E8E8;
}

.cardHeader {
    
}


.text{
    color: black;
}; */
.card p {
    /* text-decoration: #000; */
    color: #000;
}

.forecastButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecastButtonHourly{ 
  border: none;
  border-radius: 25px;
  width: 25%;
  height: 15%;
  background: #FFB36C;
  font-size: 300;
  font-weight: 10px;
}

.forecastButtonWeekly {
  border: none;
  border-radius: 25px;
  width: 25%;
  height: 15%;
  background: #FFB36C;
  font-size: 300;
  font-weight: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 430px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  
  .cardHeader {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }
  
  .cardHeader p {
    font-weight: bold;
    margin: 0;
  }
  
  .cardBody {
    flex: 1;
    padding: 10px;
    margin: 0 auto;
  }
  
  .cardBody p {
    font-size: 20px;
    margin: 0;
  }
  
  .now {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid #ddd; */
  }

  .date {
    /* border-right: #000 1px solid; */
    padding: 5px 10px;
  }
  
  .day {
    border-left: #000 1px solid;
    padding: 5px 10px;
  }
  
  .now p {
    font-size: 12px;
    margin: 0;
  }
  
  .img {
    width: 150px;
    height: 150px;
    align-self: center;
    /* margin: 0 auto; */
  }

  .temperature {
    text-align: center;
  }
  
  .cardActions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  
  .cardActions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    /* padding: 5px 10px; */
  }
  
  .reload,
  .like,
  .del {
    color: #000;
  }
  
  .seeMore {
    background: #FFB36C;
    border: none;
    padding: 8px, 20px, 8px, 20px;
    color: #007bff;
  }
  